<!-- Copyright (c) XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="deng" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
