<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->
<div class="container-fluid row" id="timeline">
    <div class="col-md-12">
      <img src="/assets/images/years-monthly-average-en.png" class="placeholder"/>
    </div>
</div>