<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- List of Voices -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.voices as |voice|}}
          <tr class="item">
            <th scope="row">{{#link-to "accounts.one.libraries.one.ideas.one.phases.one.voices.one" voice}}{{voice.id}}{{/link-to}}</th>
            <td>{{voice.type}}</td>
            <td>{{voice.description}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.voices.one.edit' voice}}Edit{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.voices.one.events' voice}}Events{{/link-to}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="sm-col-12">
      Or: {{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.voices.new'}}Create New Voice{{/link-to}}
    </div>
  {{/if}}
</div>
