<div class="splash">
  <div class="container">

    <div class="row">
      <div class="col-12 text-left">
        <h1>{{ .Site.Params.missionHeadline | safeHTML }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 text-left">
        <p>{{ .Site.Params.missionSubline | safeHTML }}</p>
      </div>
    </div>

  </div>
</div>

<div class="container single">
  <div class="row">

    <div class="col-12 col-lg-8 article-container">
      <article class="page pad-top">
        <iframe src="https://player.vimeo.com/video/238314272" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <div class="row"><div class="col-12 col-md-4">

          <h1>Musicians</h1>
          <p>Create and upload content to get paid ongoing royalties!</p>

        </div><div class="col-12 col-md-4">

          <h1>Developers</h1>
          <p>Build bleeding-edge AI music technology!</p>

        </div><div class="col-12 col-md-4">

          <h1>Investors</h1>
          <p>Make use of our technology in your endeavors, sell new accounts, and invest in the business.</p>

        </div></div>



      </article>
    </div>

    <aside class="col-12 col-lg-4">
      {{ partial "mini-about" . }}
    </aside>

  </div>
</div>
