<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Links to actions -->
  <div class="form-group">
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.chains.one.edit' model.chain}}Edit{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.chains.one.configs' model.chain}}Configs{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.chains.one.libraries' model.chain}}Libraries{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.chains.one.instruments' model.chain}}Instruments{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.chains.one.ideas' model.chain}}Ideas{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.chains.one.links' model.chain}}Links{{/link-to}}</h4>
    </div>
  </div>

</div>
