<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
{{#modal-dialog onClickOverlay='goBack'}}
  <div class="form-horizontal container-fluid">

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" autofocus="autofocus" class="btn btn-danger" {{action 'destroy' model}}>Destroy {{model.description}}</button>
      </div>
    </div>

  </div>
{{/modal-dialog}}
