<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <!-- Quick Preview button -->
  <div class="form-group row">
    <div class="col-sm-12">
      <p>&nbsp;</p>
      <h4>Preview This Instrument</h4>
      <p>Fabricate a Preview Chain based only the current Instrument.</p>
      <button type="button" class="btn btn-primary" {{action 'quickPreview'}}>Fabricate Preview</button>
    </div>
  </div>

</div>
