# Environment Variables
.env
gradle-local.properties

gpg/
.gradle/
build/
*.class
*.log
*.settings.xml

# Eclipse
.classpath
.project
.settings/
bin/

# IDEA
*.iml
*.ipr
*.iws
.idea/
out/

hs_err_pid*
_ignore*

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# OS
.DS_Store
