# Environment Variables
/.env
/env.conf
/env.dev.conf

# Build artifacts
target/
*/target/
classes/

# container logs and data
log/
*/log/

# IntelliJ
*.iml
.idea/

# Node.js
/node_modules/

# Static site generation
docs/public/

# Gradle build files
.gradle
/build/
/out/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Mac OS X
.DS_Store

# GitHub properties
github.properties

# Kafka properties
kafka.properties

# Audio data
nexus/data/

# Bootstrap chains
bootstrap-chains.json
