# Environment Variables
/.env
/env.conf

# Build artifacts
target/
*/target/
classes/

# container logs and data
log/
*/log/

# IntelliJ
*.iml
.idea/

# Node.js
/node_modules/

# Static site generation
docs/public/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
