app {
  apiURL = "api/1/"
  baseURL = "http://localhost/"
}

audio {
  baseURL = "https://audio.dev.xj.io/"
  fileBucket = "xj-dev-audio"
  uploadURL = "https://xj-dev-audio.s3.amazonaws.com/"
}

aws {
  accessKeyID = "*************************SECRET*************************"
  secretKey = "*************************SECRET*************************"
}

google {
  clientId = "*************************SECRET*************************"
  clientSecret = "*************************SECRET*************************"
}

postgres {
  database = "xj_dev"
  host = "postgres01xj1"
  pass = ""
  port = 5432
  user = "root"
}

platform {
  heartbeatKey = "1234"
}

redis {
  host = "redis01xj1"
  port = 6379
}

segment {
  baseURL = "https://ship.dev.xj.io/"
  fileBucket = "xj-dev-ship"
  # TODO need? https://xj-dev-ship.s3.amazonaws.com
}
