<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="headline container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <!-- Entity type and ID -->
      <div class="entity">
        Voice #{{model.id}}
      </div>

      <!-- Title -->
      <h1>
        {{model.description}}
        <small>
          {{entity-actions 'accounts.one.libraries.one.patterns.one.voices.one' 'edit|destroy' model.phase.pattern.library.account model.phase.pattern.library model.phase.pattern model.phase model}}
        </small>
      </h1>

    </div>
  </div>
</div>

<!-- Links to actions -->
<div class="form-horizontal container-fluid">
  <div class="form-group row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
      </li>
    </ul>
  </div>
</div>

<!-- Inner Content -->
{{outlet}}