<!-- Copyright (c) XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="JSON_TCP"/>
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="org.glassfish.jersey" level="ERROR"/>
  <logger name="io.xj" level="INFO"/>

</configuration>

