<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Show Doc -->
<div class="container">
  <div class="row">
    <div class="col-12">
      {{markdown-to-html model.content}}
    </div>
  </div>
</div>