<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Links to actions -->
  <div class="form-group row">
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.memes' model.phase}}Memes{{/link-to}}</h4>
    </div>
    {{#if (not-eq model.phase.idea.type "macro")}}
      <div class="col-sm-2">
        <h4>{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.chords' model.phase}}Chords{{/link-to}}</h4>
      </div>
      <div class="col-sm-2">
        <h4>{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.voices' model.phase}}Voices{{/link-to}}</h4>
      </div>
    {{/if}}
  </div>

  <!-- Edit -->
  <div class="form-group row">
    <div class="col-sm-12">
      <h6>{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.edit' model.phase}}Edit Phase Properties{{/link-to}}</h6>
    </div>
  </div>

</div>
