<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Header -->
  <div class="form-group">
    <div class="col-sm-12">
      <h5>{{#link-to 'accounts.one.libraries.one.ideas.one.phases' model.idea}}{{model.idea.name}} Phases{{/link-to}}</h5>
      <h1>{{model.phase.name}}</h1>
    </div>
  </div>

  <!-- Links to actions -->
  <div class="form-group">
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.edit' model.phase}}Edit{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.memes' model.phase}}Memes{{/link-to}}</h4>
    </div>
  </div>

</div>
