<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Lower Section -->
{{#modal-dialog}}
  <div class="form-horizontal container-fluid">

    {{partial "accounts/one/libraries/one/instruments/one/audios/one/form"}}

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" {{action 'createAudio' model}}>Create</button>
        <button type="button" class="btn btn-secondary" {{action 'cancel' model}}>Cancel</button>
      </div>
    </div>

  </div>
{{/modal-dialog}}
