@import "fonts";
@import "palette";

.list {
  margin-top: 0;
  padding-top: 1.38rem;

  .card {
    border: 0 none;
    margin-bottom: 2em;
    .card-img-container {
      background: #333;
      position: relative;
      height: 6em;
    }
    .card-container {
      background: #333;
      padding: 0.4em 0.8em 0 0.8em;
      .headline {
        font-family: $font-family-display;
        font-size: $font-size-xl;
        font-weight: bold;
        color: #fff;
        margin-top: 0.3rem;
        margin-bottom: 0;
      }
      .type {
        font-family: $font-family-display;
        color: #999;
        font-size: $font-size-s;
        font-weight: 900;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        margin-top: 0.3rem;
      }
      .publication {
        font-family: $font-family-display;
        color: #fff;
        font-size: $font-size-s;
        line-height: $font-line-height-s;
        font-weight: 900;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        margin-top: 0.3rem;
        margin-bottom: 0;
      }
      .year {
        font-family: $font-family-display;
        color: #999;
        font-size: $font-size-s;
        font-weight: 900;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0.3rem;
      }
    }
    .card-img-top {
      top: 0;
      height: 14em;
      background-size: cover;
      background: no-repeat center center;
    }
    header {
      position: absolute;
      bottom: .25em;
      left: 2%;
      width: 96%;
      background: rgba(60, 60, 60, 0.8);
      color: #ffffff;
      /*
      background: rgba(0, 0, 0, 0.68);
      color: #ffffff;
      */
      text-decoration: none;
      text-underline: none;
      padding: 2px 2px 5px 8px;
      font-size: $font-size-l;
      font-weight: 600;
      a {
        font-size: $font-size-l;
        font-weight: 700;
        text-decoration: none;
        color: #ffffff;
      }
    }
    .taxonomy {
      padding: 0 0 0.3em 0;
      font-weight: 500;
      opacity: 0.5;
    }
    .subtext {
      color: $font-color-bright;
      line-height: $font-line-height-s;
      background: #202020;
      padding: 0.2em 0.8em 0.2em 0.8em;
      font-weight: 400;
      p {
        margin-top: 10px;
      }
    }
  }
}
