@import "fonts";
@import "palette";

.splash {
  @include magma-bg;
  padding: 3rem 0 3rem 0;

  &.resource {
    @include stone-bg;
    padding: 40px 0 10px 0;
  }

  a,p,h1,h2,h3,h4,h5,h6 {
    color: $font-color-bright;
  }

  h1 {
    margin-top: 0;
    margin-left: 1rem;
    padding-top: 0;
    font-size: $font-size-xxl;
    font-weight: 700;
    letter-spacing: -0.62pt;
    text-shadow: 0 0 0.62rem rgba(255, 255, 255, 0.2);
  }

  p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
    font-size: $font-size-xl;
    line-height: $font-line-height-l;
    font-weight: 400;
  }


  h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.38pt;
    text-shadow: 0 0 0.62rem rgba(255, 255, 255, 0.2);
  }
  h4 {
    color: #aaa;
    text-transform: uppercase;
    font-size: $font-size-s;
    font-weight: 900;
  }
  p {
    margin-top: 0;
    font-size: $font-size-xl;
    font-weight: 400;
  }
  .description {
    line-height: $font-line-height-l;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .taxonomy {
    margin-top: 2em;
  }
  a {
    color: #ddd;
  }

}
