<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Links to actions -->
  <div class="form-group row">
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.libraries.one.ideas' model.library}}Ideas{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.libraries.one.instruments' model.library}}Instruments{{/link-to}}</h4>
    </div>
  </div>

  <!-- Edit -->
  <div class="form-group row">
    <div class="col-sm-12">
      <h6>{{#link-to 'accounts.one.libraries.one.edit' model.library}}Edit Library Properties{{/link-to}}</h6>
    </div>
  </div>

  <!-- Quick Preview button -->
  <div class="form-group row">
    <div class="col-sm-12">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h4>Preview This Library</h4>
      <p>Fabricate a Preview Chain based only the current Library.</p>
      <button type="button" class="btn btn-primary" {{action 'quickPreview'}}>Fabricate Preview</button>
    </div>
  </div>

</div>
