<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

{{yield}}

{{#if (eq model.state 'Draft')}}
  <button type="button" class="chain-state btn btn-info align-middle" {{action 'changeState' 'Ready' false}}>
    Ready!
  </button>
{{/if}}
{{#if (eq model.state 'Ready')}}
  <button type="button" class="chain-state btn btn-success align-middle" {{action 'changeState' 'Fabricate' true}}>
    Fabricate!
  </button>
{{/if}}
{{#if (eq model.state 'Fabricate')}}
  <button type="button" class="chain-state btn btn-primary align-middle" {{action 'changeState' 'Complete' true}}>
    Complete!
  </button>
{{/if}}

