<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="container-fluid">

  <div class="row">

    <div class="col-6">
      <div class="container-fluid">
        &copy; 2001-{{year}}
      </div>
    </div>

    <div class="col-6">
      <ul>
        <li><a target="_blank" href="https://docs.xj.io/">Documentation</a></li>
        <li><a target="_blank" href="https://xj.io/privacy/">Privacy</a></li>
        <li><a target="_blank" href="https://xj.io/terms/">Terms</a></li>
      </ul>
      {{yield}}
    </div>

  </div>

</div>

