<!-- Copyright (c) 2017, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

{{yield}}

<div class="link-chords">
  <table class="chords">
    <tbody>
    {{#each model.chords as |chord|}}
      <tr class="chord">
        <th class="position">{{chord.position}}</th>
        <td class="name">{{chord.name}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>