<!-- Copyright (c) 2017, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

{{yield}}

<div class="message-badges">
  {{#each model.messages as |message|}}
    <div class="badge launcher message message-{{message.type}}" {{action 'showMessage' message}} data-toggle="modal"
         data-target="#messageBadgesModal">{{message.type}}</div>
  {{/each}}
</div>


<!-- Modal -->
<div class="modal bd-example-modal-lg container-fluid" id="messageBadgesModal" tabindex="-1" role="dialog"
     aria-labelledby="messageBadgesModalTitle" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg col-12" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageBadgesModalTitle"><!-- TITLE --></h5>
      </div>
      <div class="modal-body">
        <pre id="messageBadgesModalBody"><!-- BODY --></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>