<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Quick Preview button -->
<div class="form-horizontal container-fluid">
  <div class="form-group row">
    <div class="col-sm-12">
      <h4>Preview This Sequence</h4>
      <p>Fabricate a Preview Chain based only the current Sequence.</p>
      <button type="button" class="btn btn-primary" {{action 'quickPreview'}}>Fabricate Preview</button>
    </div>
  </div>
</div>

<!-- Inner Content -->
{{outlet}}

