<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <!-- Quick Preview button -->
  <div class="form-group row">
    <div class="col-sm-12">
      <p><a href="{{model.labUrl}}" target="_blank" class="btn btn-icon-launch">Lab</a></p>
    </div>
  </div>

</div>
