<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal">

  {{partial "accounts/one/libraries/one/instruments/one/form"}}

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" {{action 'saveInstrument' model}}>Save changes</button>
      </div>
    </div>
  {{/if}}
</div>

{{#if auth.isAdmin}}
  <!-- Lower Container -->
  <div class="form-horizontal">

    <!-- Header -->
    <div class="form-group">
      <div class="col-sm-12">
        <hr/>
        <h4>Danger Zone</h4>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-danger btn-xs" {{action 'destroyInstrument' model}}>Delete Instrument</button>
      </div>
    </div>

  </div>
{{/if}}