<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Links to actions -->
  <div class="form-group">
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.libraries.one.instruments.one.edit' model.instrument}}Edit{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.libraries.one.instruments.one.memes' model.instrument}}Memes{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.libraries.one.instruments.one.audios' model.instrument}}Audios{{/link-to}}</h4>
    </div>
  </div>

</div>
