<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<div class="row">

  <!-- Marketing Lockup: Left -->
  <div class="marketing
            col-10 col-offset-1
            col-md-5 offset-md-1
            col-lg-4 offset-lg-2">

    <div class="container-fluid">
      <img alt="XJ" src="/assets/images/brand/xj-logo.png"/>
    </div>

    <div class="container-fluid text-center">
      <div class="sub-mega">Background&nbsp;Music System</div>
    </div>

    <div class="container-fluid">
      <img alt="by Outright Mental" src="/assets/images/brand/by-outright-mental-roger-lockup.png"/>
    </div>

  </div>

  <!-- Marketing Lockup: Right -->
  <div class="marketing
            col-10 col-offset-1
            col-md-5 offset-md-0
            col-lg-4 offset-lg-0">

    <div class="container-fluid text-left padding-top-md">
      <div class="mega"><span class="number">100%</span>Original</div>
      <div class="sub-mega top-line">24/7 non-stop continuous music unlike anything heard before.</div>
    </div>

    <div class="container-fluid text-left">
      <div class="mega"><span class="number">100%</span>Custom</div>
      <div class="sub-mega top-line">Patented audio branding A.I. sets the mood to perfectly evoke your journey.</div>
    </div>

    <div class="container-fluid text-left">
      <div class="mega"><span class="number">100%</span>Yours</div>
      <div class="sub-mega top-line">Complement top-class experience with a dynamic soundscape you own outright.</div>
    </div>

    {{#if auth.isUser}}
      <div class="container-fluid text-left">
        <div class="mega">Now In Alpha</div>
        <div class="sub-mega top-line">Welcome! You are signed in.</div>
        <div class="sub-sub-mega">If you've just signed in for the first time, you may not actually have access to
          anything. Please, to participate email <a href="mailto:hiya@outright.io">hiya@outright.io</a>.
        </div>
      </div>
    {{/if}}

    <div class="container-fluid text-left">
      <div class="mega">Be First To Hear</div>
      <div class="top-line">{{partial 'components/marketing/signup'}}</div>
    </div>

  </div>

</div>