<!-- Copyright (c) XJ Music Inc. (https://xjmusic.com) All Rights Reserved. -->

<configuration>

  <conversionRule conversionWord="stack"
                  converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter" />

  <!-- Define the custom appender -->
  <appender name="MainWindowLogAppender" class="io.xj.gui.WorkstationLogAppender">
    <encoder>
      <pattern>%class{0} - %m%n</pattern>
    </encoder>
  </appender>

  <!-- Reference the custom appender -->
  <root level="INFO">
    <appender-ref ref="MainWindowLogAppender"/>
  </root>
</configuration>
