<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

{{yield}}

<div class="link-memes">
  {{#each model.memes as |meme|}}
    <div class="badge badge-default meme">{{meme.name}}</div>
  {{/each}}
</div>