[mysqld]
general_log_file         = /var/log/mysql/query.log
general_log              = 0
log_error                = /var/log/mysql/error.log
log_warnings             = 2
log_error_verbosity      = 3
