<!-- Copyright (c) 2017, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Lower Section -->
{{#modal-dialog onClickOverlay='goBack'}}
<div class="form-horizontal container-fluid">

  {{partial "accounts/one/libraries/one/instruments/one/audios/one/events/one/form"}}

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'createEvent' model}}>Create</button>
      <button type="cancel" class="btn btn-default" {{action 'cancelCreateEvent' model}}>Cancel</button>
    </div>
  </div>

</div>
{{/modal-dialog}}
