<!-- Copyright (c) 2017, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner content above -->
{{outlet}}

<!-- Upper container -->
<div class="form-horizontal container-fluid">

  <!-- List of Accounts -->
  <div class="col-sm-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th><!-- Actions --></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.index as |account|}}
          <tr class="item">
            <td>{{#link-to 'accounts.one' account}}{{account.name}}{{/link-to}}</td>
            <td>
              {{#link-to 'accounts.one.libraries' account}}Libraries{{/link-to}}<span>&nbsp;</span>
              {{#link-to 'accounts.one.chains' account}}Chains{{/link-to}}<span>&nbsp;</span>
              {{#link-to 'accounts.one.users' account}}Users{{/link-to}}<span>&nbsp;</span>
              {{entity-actions "accounts.one" "edit|destroy" account}}
            </td>
            <th scope="row">{{account.id}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if auth.isAdmin}}
    <div class="col-sm-12">
      Or: {{#link-to 'accounts.new'}}Create New Account{{/link-to}}
    </div>
  {{/if}}
</div>
