<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="headline container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <!-- Entity type and ID -->
      <div class="entity">
        Account #{{model.id}}
      </div>

      <!-- Title -->
      <h1>
        {{model.name}}
        <small>
          {{entity-actions "accounts.one" "edit|destroy" model.id}}
        </small>
      </h1>

    </div>
  </div>
</div>

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <!-- Segments to actions -->
  <div class="form-group row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        {{#link-to 'accounts.one.libraries' model class='nav-link'}}Libraries{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'accounts.one.chains' model class='nav-link'}}Chains{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'accounts.one.users' model class='nav-link'}}Users{{/link-to}}
      </li>
    </ul>
  </div>


</div>

<!-- Inner Content -->
{{outlet}}
