@import "fonts";
@import "palette";

.single {

  .article-container {
    //background: #202020;
  }

  article {

    p {
      color: $font-color-subdued;
      font-size: $font-size-l;
      line-height: $font-line-height-l;
    }

    a {
      word-wrap: break-word;
    }

    blockquote {
      padding-left: 2rem;
      padding-right: 2rem;
      p {
        font-size: $font-size-m;
        line-height: $font-line-height-m;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }

    &.page {
      &.pad-top {
        padding-top: 1rem;
      }
      p:first-child {
        margin-top: 0;
      }
    }

    &.resource {
      .header {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: $font-size-s;
        opacity:0.38;
      }
      .indent {
        margin-left: 1rem;
      }
    }
  }

}

aside {
  h4 {
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: $font-size-m;
    font-weight: 900;
  }
  p {
    margin-top: 0.1rem;
    margin-bottom: 1.3rem;
    padding-left: 1rem;
  }
}
