@import "fonts";

.splash {
  @include deep-blue-bg;
  padding: 3rem 0 3rem 0;

  a,p,h1,h2,h3,h4,h5,h6 {
    color: $font-color;
  }

  h1 {
    margin-top: 0;
    margin-left: 1rem;
    padding-top: 0;
    font-size: $font-size-xxl;
    font-weight: 700;
    letter-spacing: -0.62pt;
    text-shadow: 0 0 0.62rem rgba(255, 255, 255, 0.2);
  }

  p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
    font-size: $font-size-xl;
    line-height: $font-line-height-xl;
    font-weight: 400;
  }

}

.image-header {
  height: 18rem;
  padding: 0 0 0 0;
  .image-header-container {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
  }
  .header {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0.5em 0 0 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 5px 0 10px;
    a, p, h1, h2, h3, h4, h5, h6 {
      color: $font-color-inverted;
    }
    h1 {
      font-weight: 600;
      letter-spacing: -0.06em;
      font-size: $font-size-xxl;
      margin-bottom: 0;
    }
  }
  .taxonomy {
    margin-bottom: 0.5rem;
  }
}

.page-header {
  color: #000000;
  padding: 1.2rem 0 0.6rem 0;

  a, p, h1, h2, h3, h4, h5, h6 {
    color: $font-color-inverted;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-size: $font-size-xxl;
    font-weight: 700;
    letter-spacing: -0.38pt;
  }

  p {
    margin-top: 0;
    font-size: $font-size-l;
    font-weight: 400;
  }

}

.resource-header {
  @include deep-blue-bg;
  color: #ffffff;
  padding: 40px 0 10px 0;
  a, p, h1, h2, h3, h4, h5, h6 {
    color: $font-color;
  }
  h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.38pt;
    text-shadow: 0 0 0.62rem rgba(255, 255, 255, 0.2);
  }
  h4 {
    color: #aaa;
    text-transform: uppercase;
    font-size: $font-size-s;
    font-weight: 900;
  }
  p {
    margin-top: 0;
    font-size: $font-size-xl;
    font-weight: 400;
  }
  .description {
    line-height: $font-line-height-xl;
    margin-top: $font-size-s;
  }
  .taxonomy {
    margin-top: 2em;
  }
  a {
    color: #ddd;
  }
}

