<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Header -->
  <div class="form-group">
    <div class="col-sm-12">
      <h5>{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.voices' model.phase}}{{model.phase.name}} Voices{{/link-to}}</h5>
      <h1>{{model.voice.name}}</h1>
    </div>
  </div>

  <!-- Links to actions -->
  <div class="form-group">
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.voices.one.edit' model.voice}}Edit{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.voices.one.events' model.voice}}Events{{/link-to}}</h4>
    </div>
  </div>

</div>
