<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- List of Chords -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="1%">Position</th>
          <th>Name</th>
          <th><!-- Actions --></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.chords as |chord|}}
          <tr class="item">
            <td>{{chord.position}}</td>
            <td>{{#link-to "accounts.one.libraries.one.instruments.one.audios.one.chords.one" chord}}{{chord.name}}{{/link-to}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.instruments.one.audios.one.chords.one.edit' chord}}Edit{{/link-to}}
            </td>
            <th scope="row">{{chord.id}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="sm-col-12">
      Or: {{#link-to 'accounts.one.libraries.one.instruments.one.audios.one.chords.new'}}Create New Chord{{/link-to}}
    </div>
  {{/if}}
</div>
