<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Lower Section -->
<div class="form-horizontal">

  {{partial "accounts/one/libraries/one/instruments/one/audios/one/chords/one/form"}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'createChord' model}}>Create</button>
    </div>
  </div>

</div>
