<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <div class="form-group row">
    <div class="col-sm-12">
      <h6>{{#link-to 'accounts.one.chains.one.edit' model}}Edit Chain Properties{{/link-to}}</h6>
    </div>
  </div>

  <!-- Links to actions -->
  <div class="form-group row">
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.chains.one.configs' model}}Configs{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.chains.one.libraries' model}}Libraries{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.chains.one.instruments' model}}Instruments{{/link-to}}</h4>
    </div>
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.one.chains.one.ideas' model}}Ideas{{/link-to}}</h4>
    </div>
  </div>

  <!-- Links -->
  <div class="form-group row">
    <div class="col-sm-12 col-md-6">
      <h2>{{#link-to 'accounts.one.chains.one.links' model}}Links{{/link-to}}</h2>
      <p>View the planned, crafted, dubbed, and final Links in the Chain, see the details about the individual choices,
        and playback the Chain as continuous audio beginning from any Link.</p>
    </div>
  </div>

</div>

<!-- Inner Content -->
{{outlet}}