$gray: #a0a0a0;
$yellow: #ffc000;
$green: #00c000;
$red: #c00000;

$low-gray: darken($gray,25);
$lower-gray: darken($gray,35);
$dark-gray: darken($gray,40);
$darker-gray: darken($gray,50);
$much-darker-gray: darken($gray,54);
