<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner content above -->
{{outlet}}

<!-- Upper container -->
<div class="form-horizontal">

  <!-- List of Accounts -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th><!-- Actions --></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |A|}}
          <tr class="item">
            <td>{{#link-to 'accounts.one' A}}{{A.name}}{{/link-to}}</td>
            <td>
              {{#link-to 'accounts.one.libraries' A}}Libraries{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.chains' A}}Chains{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.users' A}}Users{{/link-to}}
            </td>
            <th scope="row">{{A.id}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if auth.isAdmin}}
    <div class="sm-col-12">
      Or: {{#link-to 'accounts.new'}}Create New Account{{/link-to}}
    </div>
  {{/if}}
</div>