<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
{{#modal-dialog onClickOverlay='goBack'}}
<div class="form-horizontal container-fluid">

  {{partial "accounts/one/libraries/one/patterns/one/form"}}

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-default" {{action 'savePattern' model}}>Save changes</button>
      </div>
    </div>
  {{/if}}
</div>

{{#if auth.isAdmin}}
  <!-- Lower Container -->
  <div class="form-horizontal container-fluid danger-zone">

    <!-- Header -->
    <div class="form-group row">
      <div class="col-sm-12">

        <h4>Danger Zone</h4>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button class="btn btn-danger btn-xs" {{action 'destroyPattern' model}}>Delete Pattern</button>
      </div>
    </div>

  </div>
{{/if}}
{{/modal-dialog}}
