<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Header -->
  <div class="form-group">
    <div class="col-sm-12">
      <h5>{{#link-to 'accounts.account' model.account}}{{model.account.name}}{{/link-to}}</h5>
      <h1>{{model.name}}</h1>
    </div>
  </div>

  <!-- Links to actions -->
  <div class="form-group">
    <div class="col-sm-2">
      <h4>{{#link-to 'accounts.account.libraries.library.edit' model}}Edit{{/link-to}}</h4>
    </div>
  </div>

</div>
