<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Name -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    {{input type="text" value=model.chain.name class="form-control" autofocus="autofocus"
            placeholder="The name of the Chain"}}
  </div>
</div>

{{#if (eq model.chain.type "Production")}}

  <!-- StartAt -->
  <div class="form-group row">
    <label class="col-sm-2 control-label">Start At</label>
    <div class="col-sm-10">
      {{input type="text" value=model.chain.startAt class="form-control" autofocus="autofocus"
              placeholder="The start-at time of the Chain"}}
    </div>
  </div>

  <!-- StopAt -->
  <div class="form-group row">
    <label class="col-sm-2 control-label">Stop At <em>(optional)</em></label>
    <div class="col-sm-10">
      {{input type="text" value=model.chain.stopAt class="form-control" autofocus="autofocus"
              placeholder="The stop-at time of the Chain"}}
    </div>
  </div>

  <!-- EmbedKey -->
  <div class="form-group row">
    <label class="col-sm-2 control-label">Embed Key <em>(optional)</em></label>
    <div class="col-sm-10">
      {{input type="text" value=model.chain.embedKey class="form-control" autofocus="autofocus"
              placeholder="The Embed Key of the Chain"}}
    </div>
  </div>

{{/if}}