<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

{{outlet}}

<div class="table-list">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |account|}}
      <tr class="item" {{action "editAccount" account}}>
        <th scope="row">{{account.id}}</th>
        <td>{{account.name}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<div class="sm-col-12">
  Or: {{#link-to 'admin.accounts.new'}}Create New Account{{/link-to}}
</div>