<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Header -->
  <div class="form-group">
    <div class="col-sm-12">
      <h5>{{#link-to "accounts.one" model.account}}{{model.account.name}}{{/link-to}}</h5>
      <h1>Libraries</h1>
    </div>
  </div>

  <!-- List of Libraries -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.libraries as |library|}}
          <tr class="item">
            <th scope="row">{{#link-to "accounts.one.libraries.one" library}}{{library.id}}{{/link-to}}</th>
            <td>{{library.name}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.edit' library}}Edit{{/link-to}}
              |
              {{#link-to 'accounts.one.libraries.one.ideas' library}}Ideas{{/link-to}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if auth.isAdmin}}
    <div class="sm-col-12">
      Or: {{#link-to 'accounts.one.libraries.new'}}Create New Library{{/link-to}}
    </div>
  {{/if}}
</div>
