<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Lower Section -->
<div class="form-horizontal">

  <!-- Header -->
  <div class="form-group">
    <div class="col-sm-12">
      <h5>{{#link-to "accounts.one.libraries" model.account}}{{model.account.name}}{{/link-to}}</h5>
      <h1>New Library</h1>
    </div>
  </div>

  {{partial "accounts/one/libraries/one/form"}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'createLibrary' model}}>Create</button>
    </div>
  </div>

</div>
