<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Edit -->
  <div class="form-group row">
    <div class="col-sm-12">
      <h6>{{#link-to 'accounts.one.libraries.one.instruments.one.audios.one.chords.one.edit' model.chord}}Edit Chord Properties{{/link-to}}</h6>
    </div>
  </div>

</div>
