<div class="splash">
  <div class="container">

    <div class="row">
      <div class="col-12 text-left">
        <h1>{{ .Site.Params.missionHeadline | safeHTML }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 text-left">
        <p>{{ .Site.Params.missionSubline | safeHTML }}</p>
      </div>
    </div>

  </div>
</div>


<div class="container single">
  <div class="row">

    <div class="col-12 col-lg-8 article-container">
      <article class="page pad-top">
        {{ .Site.Params.missionDescription | safeHTML }}
      </article>
    </div>

    <aside class="col-12 col-lg-4">
      {{ partial "login-mini.html" . }}

      {{- if eq .URL "/company/" -}}
      <img src="/images/los-angeles-california.svg" alt="Los Angeles, California"/>
      {{- end -}}
    </aside>

  </div>
</div>
