<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- List of Libraries -->
<div class="form-horizontal">
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |library|}}
          <tr class="item" {{action "editLibrary" library}}>
            <th scope="row">{{library.id}}</th>
            <td>{{library.name}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if auth.isAdmin}}
    <div class="sm-col-12">
      Or: {{#link-to 'library.new'}}Create New Library{{/link-to}}
    </div>
  {{/if}}
</div>

{{outlet}}