<!-- Name -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    {{#if (or auth.isAdmin auth.isEngineer)}}
      {{input type="text" value=model.name class="form-control" autofocus="autofocus"
              placeholder="The name of the Library"}}
    {{else}}
      <div class="readonly-field">{{model.name}}</div>
    {{/if}}
  </div>
</div>

