<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

{{yield}}

{{#if (eq model.state 'draft')}}
  <button type="button" class="chain-state btn btn-info align-middle" {{action 'changeState' 'ready' false}}>
    To Ready
  </button>
{{/if}}
{{#if (eq model.state 'ready')}}
  <button type="button" class="chain-state btn btn-success align-middle" {{action 'changeState' 'fabricating' true}}>
    To Fabricate
  </button>
{{/if}}
{{#if (eq model.state 'fabricating')}}
  <button type="button" class="chain-state btn btn-primary align-middle" {{action 'changeState' 'complete' true}}>
    To Complete
  </button>
{{/if}}
