<!-- Marketing Lockup: Left -->
<footer class="container-fluid">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="outright container-fluid">
            <a target="_blank" href="https://w.outright.io/" title="by Outright Mental"><img alt="by Outright Mental"
                                                                                             src="/assets/images/brand/by-outright-mental-roger-lockup.png"/></a>
        </div>
    </div>
    <div class="col-xs-3 col-sm-4 col-md-9 col-lg-10">
        <ul class="nav navbar-inverse navbar-nav navbar-right">
            <li><a target="_blank" href="https://w.outright.io/cookies/">Cookies</a></li>
            <li><a target="_blank" href="https://w.outright.io/privacy/">Privacy</a></li>
            <li><a target="_blank" href="https://w.outright.io/terms/">Terms</a></li>
        </ul>
    </div>
</footer>
