<!-- Marketing Lockup: Left -->
<footer class="col-xs-6 col-xs-offset-3
               col-sm-4 col-sm-offset-4
               col-md-3 col-md-offset-9
               col-lg-2 col-lg-offset-10">
  <div class="outright container-fluid">
    <a target="_blank" href="http://w.outright.io/" title="by Outright Mental"><img alt="by Outright Mental" src="/assets/images/brand/by-outright-mental-roger-lockup.png"/></a>
  </div>
</footer>
