<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->
<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="main-navbar">
    {{#if auth.isUser}}
      <ul class="nav navbar-nav navbar-left">
        <!-- {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}} -->
        {{#link-to 'users' tagName="li"}}<a href="">People</a>{{/link-to}}
        {{#link-to 'accounts' tagName="li"}}<a href="">Music</a>{{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="clock"><!-- TIME UTC --></a></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            {{#if auth.isUser}}User #{{auth.userId}}{{/if}}
            {{#if auth.isAdmin}}<badge>&#9762;</badge>{{/if}}
            {{#if auth.isArtist}}<badge>&#x266C;</badge>{{/if}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu inverse-dropdown">
            <li><a href="/auth/no">Logout</a></li>
          </ul>
        </li>
      </ul>
    {{else}}
      <ul class="nav navbar-nav navbar-right">
        <li><a id="clock"><!-- TIME UTC --></a></li>
        <li><a href="/auth/google">Login</a></li>
      </ul>
    {{/if}}

  </div>

</nav>
