<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->
<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="main-navbar">
    {{#if auth.isUser}}
      <ul class="nav navbar-nav navbar-left">
        <!-- {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}} -->
        {{#link-to 'users' tagName="li"}}<a href="">People</a>{{/link-to}}
        {{#link-to 'accounts' tagName="li"}}<a href="">Content</a>{{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            {{#if auth.isUser}}User #{{auth.userId}}{{/if}}
            {{#if auth.isAdmin}}(Admin){{/if}}
            {{#if auth.isArtist}}(Artist){{/if}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu inverse-dropdown">
            {{#link-to 'logout' tagName="li"}}<a href="">Logout</a>{{/link-to}}
          </ul>
        </li>
      </ul>
    {{else}}
      <ul class="nav navbar-nav navbar-right">
        {{#link-to 'login' tagName="li"}}<a href="">Login</a>{{/link-to}}
      </ul>
    {{/if}}

  </div>

</nav>
