/* from https://stackoverflow.com/questions/49159286/make-a-dark-mode-with-javafx */

.root {
  -fx-base: #c0c0c0;
}

.log-view .list-cell {
  -fx-background-color: null;
}

.log-view .list-cell.debug {
  -fx-text-fill: gray;
}

.log-view .list-cell.info {
  -fx-text-fill: green;
}

.log-view .list-cell.warn {
  -fx-text-fill: purple;
}

.log-view .list-cell.error {
  -fx-text-fill: red;
}

.log-view {
  -fx-background-color: #404040;
}
