<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<main role="main">
  {{global-header target=this}}

  <div class="alert-fixed">
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
  </div>

  <!-- content begins -->
  {{outlet}}
  <!-- content done -->

</main>

<footer class="footer">
  {{global-footer target=this}}
</footer>