{{#if auth.isUser}}
  <div class="container mx-auto text-left col-sm-12 col-md-6">
    <p>Welcome! You&nbsp;are signed&nbsp;in.</p>
    <p>If you've just signed in for the first time, you may not actually
      have access to anything. Please, to participate email <a href="mailto:beta@xj.io">beta@xj.io</a>.
    </p>
  </div>
{{else}}
  {{partial 'static/marketing'}}
{{/if}}

