{{outlet}}

<div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4 text-center">
  <p><a href="/auth/google"><img src="/assets/images/auth/google/btn_google_signin_dark_normal_web@2x.png"/></a></p>
  <p>For security reasons, we do not have passwords, instead relying on OAuth 2.0.</p>
  <p>In the near future, we will add support for Facebook and Twitter.</p>
</div>
