<div class="form-group row">
    <label class="col-sm-2 control-label">.WAV Audio File</label>
    <div class="col-sm-10">
        {{s3-upload filesDidChange=(route-action 'filesChanged')}}
    </div>
</div>
