name: Gradle Build

on: [push, pull_request]

jobs:
  build:
    env:
      REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
      REPO_USERNAME: ${{ secrets.REPO_USERNAME }}
    permissions: write-all
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        java: '17'
      fail-fast: false
    name: ${{ matrix.os }} JDK ${{ matrix.java }}
    steps:

      - name: Git checkout
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Echo JAVA_HOME
        run: echo $JAVA_HOME

      - name: Verify Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Execute build
        run: ./gradlew --info --stacktrace build

      - name: Execute jlink
        run: ./gradlew --info --stacktrace jlink

      - name: Execute jpackage
        run: ./gradlew --info --stacktrace jpackage

      - name: Upload DMG as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: hellofx-jdk${{ matrix.java }}-${{ matrix.os }}-dmg
          path: gui/build/jpackage/*.dmg

      - name: Upload EXE as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: hellofx-jdk${{ matrix.java }}-${{ matrix.os }}-exe
          path: gui/build/jpackage/*.exe

      - name: Upload MSI as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: hellofx-jdk${{ matrix.java }}-${{ matrix.os }}-msi
          path: gui/build/jpackage/*.msi

      - name: Upload DEB as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: hellofx-jdk${{ matrix.java }}-${{ matrix.os }}-deb
          path: gui/build/jpackage/*.deb

      - name: Upload RPM as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: hellofx-jdk${{ matrix.java }}-${{ matrix.os }}-rpm
          path: gui/build/jpackage/*.rpm
