<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <!-- List of Libraries -->
  <div class="col-sm-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th><!-- Actions --></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.libraries as |library|}}
          <tr class="item">
            <td>{{#link-to "accounts.one.libraries.one" library}}{{library.name}}{{/link-to}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.patterns' library.account library}}Patterns{{/link-to}}<span>&nbsp;</span>
              {{#link-to 'accounts.one.libraries.one.instruments' library.account library}}Instruments{{/link-to}}<span>&nbsp;</span>
              {{#link-to 'accounts.one.libraries.one.evaluation' library.account library}}Evaluation{{/link-to}}<span>&nbsp;</span>
              {{entity-actions "accounts.one.libraries.one" "edit|destroy" library.account library}}
            </td>
            <th scope="row">{{library.id}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if auth.isAdmin}}
    <div class="col-sm-12">
      Or: {{#link-to 'accounts.one.libraries.new' model.account}}Create New Library{{/link-to}}
    </div>
  {{/if}}
</div>
