<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="headline container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <!-- Entity type and ID -->
      <div class="entity">
        Library #{{model.id}}
      </div>

      <!-- Title -->
      <h1>
        {{model.name}}

        <small>
          {{entity-actions "accounts.one.libraries.one" "edit|destroy" model.account model}}
        </small>
      </h1>

    </div>
  </div>
</div>

<!-- Links to actions -->
<div class="form-horizontal container-fluid">
  <div class="form-group row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        {{#link-to 'accounts.one.libraries.one.index' model class='nav-link'}}Preview{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'accounts.one.libraries.one.patterns' model class='nav-link'}}Patterns{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'accounts.one.libraries.one.instruments' model class='nav-link'}}Instruments{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'accounts.one.libraries.one.digest' model class='nav-link'}}Digest{{/link-to}}
      </li>
    </ul>
  </div>
</div>

<!-- Inner Content -->
{{outlet}}