<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->
<div class="container-fluid" id="console">

  <!-- Timeline -->
  {{partial 'console/timeline'}}

  <!-- Engines -->
  {{partial 'console/engines'}}

</div>