{{outlet}}

<div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4 text-center">
  <p><a href="/auth/google"><img src="/assets/images/auth/google/btn_google_signin_dark_normal_web@2x.png"/></a></p>
  <p>For security reasons, we only support authentication via Google at this time. In the near future, we will add support for Facebook and Twitter. We will never release any of your information, which is stored under enterprise encryption.</p>
</div>
