<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          {{#link-to 'index' class="navbar-brand"}}xj{{/link-to}}
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
          {{#if auth.isUser}}
            <ul class="nav navbar-nav">
              {{#link-to 'index' tagName="li"}}<a href="">Dash</a>{{/link-to}}
              {{#if auth.isAdmin}}
                {{#link-to 'admin' tagName="li"}}<a href="">Admin</a>{{/link-to}}
              {{/if}}
              <li><button {{action 'logout'}}>Logout</button></li>
            </ul>
          {{else}}
            <ul class="nav navbar-nav">
              <li><button {{action 'login'}}>Login</button></li>
            </ul>
          {{/if}}
        </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</nav>
