{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}

{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<div class="splash resource">
  <div class="container">
    <div class="row">
      <div class="col-12 text-left">
        <h4 class="header">Resource</h4>
        <h1>{{ .Title | markdownify }}</h1>
        <p>
          <span class="badge badge-primary">{{ .Params.publication | markdownify }}</span>
          {{ with .Params.authors }}{{ range $i, $e := . }}
          <span class="badge badge-default">{{ $e | markdownify }}</span>
          {{ end }}{{ end }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 text-left">
        <p class="description">{{ .Params.description | markdownify}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container single">
  <div class="row">

    <div class="col-12 col-lg-8 article-container">
      <article class="resource">

        <h4 class="header">Link</h4>
        <div class="indent"><p><a target="_blank" href="{{ .Params.external_url }}">{{ .Params.external_url }}</a></p>
        </div>

        <h4 class="header">Publication</h4>
        <div class="indent"><p>{{ .Params.publication | markdownify }}</p></div>

        <h4 class="header">Summary</h4>
        <!-- Main -->
        <div class="indent">{{ .Render "content" }}</div>

        <h4 class="header">Tags</h4>
        <div class="indent">
          {{ partial "item-taxonomy.html" . }}
        </div>

      </article>

    </div>

    <aside class="col-12 col-lg-4">
      {{ partial "mini-about" . }}
    </aside>

  </div>
</div>

{{ end }}
