<!-- Copyright (c) 2017, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="headline container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <!-- Entity type and ID -->
      <div class="entity">
        Instrument #{{model.id}}
      </div>

      <!-- Title -->
      <h1>
        {{model.description}}
        <!-- should only show following edit icon is user has privileges to edit instrument -->
        <small>{{#link-to 'accounts.one.libraries.one.instruments.one.edit' model.library.account model.library model}}{{fa-icon 'edit'}}{{/link-to}}</small>
      </h1>

    </div>
  </div>
</div>

<!-- Links to actions -->
<div class="form-horizontal container-fluid">
  <div class="form-group row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        {{#link-to 'accounts.one.libraries.one.instruments.one.index' model.library.account model.library model class='nav-link'}}Preview{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'accounts.one.libraries.one.instruments.one.memes' model.library.account model.library model class='nav-link'}}Memes{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'accounts.one.libraries.one.instruments.one.audios' model.library.account model.library model class='nav-link'}}Audios{{/link-to}}
      </li>
    </ul>
  </div>
</div>

<!-- Inner Content -->
{{outlet}}